# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Lenovo PC\gyak\PROJECTS\java-beadandó\epam-deik-java-dev-2021-22_semester-01_Tuesday_group\final\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
